<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.bytecode.use_reflection_optimizer">false</property>
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">abc123.</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;database=bookdb;encrypt=true;trustServerCertificate=true;</property>
		<property name="hibernate.connection.username">user</property>
		<property name="hibernate.default_catalog">bookdb</property>
		<property name="hibernate.default_schema">dbo</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- <property name="hibernate.search.autoregister_listeners">true</property> 
			<property name="hibernate.validator.apply_to_ddl">false</property> -->
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
		<!-- extra no se pedía en examen r-ud3 -->
		<property name="hibernate.highlight_sql">true</property>

		<mapping class="books.Publishers" />
		<mapping class="books.Books" />
		<mapping class="books.Authors" />
		<mapping class="books.Cuento" />
	</session-factory>
</hibernate-configuration>
